div.about{//page specific
	section{
		h3{
			text-align: center;
			font-size: 1.8em;  
			span{
				font-style: italic;
			}
		}
	}


	section.about{
		div.img.about{
			background: url("../images/about-about.jpg") no-repeat center center / 100% auto;
			@include breakpoint(medium){  
				background-size: 172% auto;
			} 
			@include breakpoint(large){  
				background-size: 127% auto;
			}
		}
	}
	section.about-members{
		div.img.members{
			background: url("../images/about-members.jpg") no-repeat center center / 100% auto;
			@include breakpoint(medium){
				background-size: 172%;
			}
			@include breakpoint(large){
				background-size: 127%;
			}  
		}
		div.wrapper{
			border-right: 1px solid $lighter-border;
			border-left: 1px solid $lighter-border;
			margin: 0 auto;
			div.member-info{
				padding: 25px 0px 70px;
				@include background-image(linear-gradient(rgba(240,240,240,0.5),rgba(white,0)));
				@include breakpoint(medium){
					padding: 25px 70px;
				}
				&:last-of-type {
					margin-bottom: 100px;
				}
				h3{
					padding-bottom: 5px;
					margin: 0px auto; 
				}
				p.subtext{
					font-size: 1em;
					color: $subtext;
					font-style: italic;
					margin: 0px 0px 5px 45px;
				}	
			}
			@include breakpoint(medium){
				width: 80%;
			}
		}
	}
}