section.accreditation{
	div.list-wrapper{
		background-color: #EAF3FB;
		width: 80%;
		margin: 0 auto 20px;
		padding: 30px 70px;
		border: 1px solid #C4CDD6;
		border-radius: 6px;
		box-shadow: 0px 6px 10px -2px rgba(black,0.2);
		line-height: 1.3;
		ol{
			li{
				margin-left: 40px;
				padding-left: 10px;
				&:first-of-type{
					margin-top: 10px;
				}

			}
		} 
	}
	div.circle-h3{
		h3{//heading with circle image
			&.h3-1{
				&:before{
					background: url("../images/oval1.jpg") no-repeat center center / 100% auto;	
				}
			}
			&.h3-2{
				&:before{
					background: url("../images/oval2.jpg") no-repeat center center / 100% auto;	
				}
			}
			&.h3-3{
				&:before{
					background: url("../images/oval3.jpg") no-repeat center center / 100% auto;	
				}
			}
			&.h3-4{
				&:before{
					background: url("../images/oval4.jpg") no-repeat center center / 100% auto;	
				}
			}
		}
	}
}