//font colors
$main-text: #554F4B;
$subtext: #827973;
$link: #3C7BC4;

//icon colors
$fa-check: #6ED37F;

//object colors
$border: #979797;
$lighter-border: #DFDFDF;
$lightest-border: #CBCBCB;
$nav-button: #FBF0D2;
$nav-button-border: #686868;
$bg-grey: #FBFBFB;
$image-inner-frame: #F4DC97;
$image-outer-frame: #CBBFA5;
$button: #FBEFC6;

//resource page buttons
$dl-btn-1-fill: #DFE8ED;
$dl-btn-1-icon-fill: #76ABC4;
$dl-btn-1-border: #AEB7BA;
$dl-btn-1-icon-border: #8498A0;

$dl-btn-2-fill: #EBEDDF;
$dl-btn-2-icon-fill: #C4B976;
$dl-btn-2-border: #A0A391;
$dl-btn-2-icon-border: #8498A0;

$bcp-fill: #FCF9FA;
$bcp-icon-fill: #CDBFC9;
$bcp-border: #C5B9BF;
$bcp-icon-border: #B4A0A1;

$dl-btn-4-fill: #E8F5EC;
$dl-btn-4-icon-fill: #B95756;
$dl-btn-4-border: #90A58E;
$dl-btn-4-icon-border: #924645;



//notice posts
$post-bg: #F9F6F2;
$post-date: #D3E5EF;
$post-date-border: #C4CBCE;
$post-date-text: #736963;
$post-title: #554F4B;
$post-text: #665F5A;
$post-link: #006FCD;

//members page
$home-member-button-fill: #EBF1FA;
$home-member-button-border: #CCD8E3;
$home-member-icon-fill: #A1A7B1;


//members posts
$member-location: #9C9794;
$member-post-hover: #FAFDFF;
$member-post-hover-border: #C9D2DA;
$member-featured-school-bg: #FAFDFF;
$member-featured-school-border: #C9D2DA;
$member-featured-school-text: #777370;








//RWD Break Points
$small-breakpoint: 500px;
$medium-breakpoint: 640px;
$large-breakpoint: 860px;
$very-large-breakpoint: 1000px;
$largest-breakpoint: 1110px;
@mixin breakpoint($point) {
  @if $point == small {
    @media (min-width: $small-breakpoint)  { @content; }
  }
  @else if $point == medium {
    @media (min-width: $medium-breakpoint)  { @content; }
  }
  @else if $point == large {
    @media (min-width: $large-breakpoint)  { @content; }
  }
  @else if $point == very-large {
    @media (min-width: $very-large-breakpoint)  { @content; }
  }
  @else if $point == largest {
    @media (min-width: $largest-breakpoint)  { @content; }
  }
}

//Font-Stacks
@font-face {
  font-family: 'SortsMillGoudy';
  src: url('../fonts/OFLGoudyStM.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OFLGoudyStM.otf')  format('opentype'); /* Compatibility */
  font-style: normal;
}
// see description in _bits on current state of small caps
@font-face {
  font-family: 'SortsMillGoudy-SC';
  src: url('../fonts/Goudy_OldStyle_SSi_Small_Caps_.ttf')  format('truetype'); 
  font-style: normal;
}
@font-face {
  font-family: 'SortsMillGoudy';
  src: url('../fonts/OFLGoudyStM-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OFLGoudyStM-Italic.otf')  format('opentype'); /* Compatibility */
  font-style: italic;
}

// current state of small caps (Fall, 2015):
// -most browsers fail at font-variant:small-caps (Chrome 46, Safari 9), using fake small caps
// -see this: http://www.chriskrycho.com/2015/css-fallback-for-opentype-small-caps.html
// -fix: standalone SC font (>IE 5.5), http://freakfonts.com/fonts/goudy-oldstyle-ssi-small-caps--font-download.html
// -regular font file (OFLGoudyStM.woff) still has complete subset (for future use)
.smallcaps {
	font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
	letter-spacing: 0.5px;
}

//grid settings
.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

//Clearfix
.grid:after {
  content: "";
  display: table;
  clear: both;
}

//grid sizes
.grid-2-3 {
  width: 66%;
  float: left;

}
.grid-1-2 {
	width: 50%;
	float: left;

}

.grid-1-3 {
	width: 33%;
	float: left;

}

.grid-1-6{
	width: 16.5%;
	float: left;

}

.grid-4-5{
  width: 80%;
  float: left;
}
.grid-1-5{
  width: 20%;
  float: left; 
}


.bg-grey{
  background-color: $bg-grey;
}


