//RWD Break Points
$very-small-breakpoint: 265px;
$small-breakpoint: 400px;
$medium-breakpoint: 640px;
$large-breakpoint: 860px;
$very-large-breakpoint: 1000px;
@mixin breakpoint($point) {
  @if $point == very-small {
    @media (min-width: $very-small-breakpoint) { @content; }
  }
  @else if $point == small {
    @media (min-width: $small-breakpoint)  { @content; }
  }
  @else if $point == medium {
    @media (min-width: $medium-breakpoint)  { @content; }
  }
  @else if $point == large {
    @media (min-width: $large-breakpoint)  { @content; }
  }
  @else if $point == very-large {
    @media (min-width: $very-large-breakpoint)  { @content; }
  }
}

//Font-Stacks
@font-face {
  font-family: 'SortsMillGoudy';
  src: url('../fonts/OFLGoudyStM.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OFLGoudyStM.otf')  format('opentype'); /* Compatibility */
  font-style: normal;
}
// see description in _bits on current state of small caps
@font-face {
  font-family: 'SortsMillGoudy-SC';
  src: url('../fonts/Goudy_OldStyle_SSi_Small_Caps_.ttf')  format('truetype'); 
  font-style: normal;
}
@font-face {
  font-family: 'SortsMillGoudy';
  src: url('../fonts/OFLGoudyStM-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OFLGoudyStM-Italic.otf')  format('opentype'); /* Compatibility */
  font-style: italic;
}

// current state of small caps (Fall, 2015):
// -most browsers fail at font-variant:small-caps (Chrome 46, Safari 9), using fake small caps
// -see this: http://www.chriskrycho.com/2015/css-fallback-for-opentype-small-caps.html
// -fix: standalone SC font (>IE 5.5), http://freakfonts.com/fonts/goudy-oldstyle-ssi-small-caps--font-download.html
// -regular font file (OFLGoudyStM.woff) still has complete subset (for future use)
.smallcaps {
	font-family: "SortsMillGoudy-SC", "SortsMillGoudy", serif;
	letter-spacing: 0.5px;
}

//grid settings
.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

//Clearfix
.grid:after {
  content: "";
  display: table;
  clear: both;
}

//grid sizes
.grid-1-2 {
	width: 50%;
	float: left;

}

.grid-1-3 {
	width: 33%;
	float: left;

}

.grid-1-6{
	width: 16.5%;
	float: left;

}



//font colors
$main-text: #554F4B;

//object colors
$border: #979797;
$nav-button: #FBF0D2;
$nav-button-border: #686868;
$bg-grey: #FBFBFB;
$image-inner-frame: #F4DC97;
$image-outer-frame: #CBBFA5;

