footer{
	margin-top: 100px;
	height: 90px;
	background: url("../images/marble-texture.png") black no-repeat left center / 196% auto;	
	overflow: hidden;
	text-shadow: 0px 1px 2px rgba(black,0.5); 
	color: white;
	@include breakpoint(medium){
		background-size: 130% auto;  
		height: 120px; 
	}
	@include breakpoint(large){
		background-size: 112% auto;
		height: 140px;   
	}
	div.text-left{
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
		float: left;
		text-shadow: 0px 2px 3px rgba(black,0.5);
		div.logo{
			float: left;
			width: 80px;
			height: 80px;
			background: url("../images/footer-png-asa2.png") no-repeat center center / 100% auto;
			margin-left: 10px; 
			position: relative;
			@include breakpoint(medium){
				width: 80px;
				height: 80px;
				margin-left: 20px; 
			}
			@include breakpoint(large){
				width: 110px;
				height: 110px;
			}
			&:after{
				content: "";
				width: 100%;
				height: 100%; 
				background: url("../images/footer-png-asa.png") no-repeat center center / 100% auto;
				position: absolute;
				top: -1px;
				@include breakpoint(medium){
					width: 80px;
					height: 80px;
				}
				@include breakpoint(large){
					width: 110px;
					height: 110px;
				}
			}
		}
		div.text-wrapper{
			float: left;
			margin-top: 20px;
			@include breakpoint(large){
				margin-top: 25px;
			}
			h1{
				text-align: center;
				text-transform: uppercase;
				margin: 0px 0px 0px 10px;
				&:first-of-type{
					position: relative;
					border-bottom: 1px solid $border;
					letter-spacing: 6px;
					font-size: 1.3em;
					@include breakpoint(large){
						font-size: 2em;
					}
				}
				&:nth-of-type(2){
					font-size: 0.8em;
					letter-spacing: 1px;
					padding-top: 5px;
					@include breakpoint(large){
						font-size: 1.2em;
					} 
				}
			}
		}	
	}
	div.text-right{
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
		float: right;
		margin-right: 10px; 
		text-shadow: 0px 2px 3px rgba(black,0.5);
		@include breakpoint(medium){
			margin-right: 20px;
		}
		div.text-wrapper{
			float: right;
			margin-top: 20px;
			@include breakpoint(large){
				margin-top: 25px;
			}
			p{
				font-style: italic;
				margin: 0px 0px 5px;
				position: relative;
				font-size: 1em;
				@include breakpoint(large){
					font-size: 1.5em;
				}
			}
			ul{
				font-style: none;
				li{
					font-size: 0.6em;
					margin-bottom: 5px;
					list-style-image: none;
					list-style-type: none;
					@include breakpoint(large){
						font-size: 0.8em;
					}
				}
			}
		}
		div.logo2{
			float: right;
			width: 80px;
			height: 80px;
			background: url("../images/rec-logo-2.png") no-repeat center center / 100% auto;
			margin-left: 10px; 
			position: relative;
			@include breakpoint(medium){
				width: 80px;
				height: 80px;
				margin-left: 20px; 
			}
			@include breakpoint(large){
				width: 110px;
				height: 110px;
			}
			&:after{
				content: "";
				width: 100%;
				height: 100%; 
				background: url("../images/rec-logo.png") no-repeat center center / 100% auto;
				position: absolute;
				top: -1px;
				@include breakpoint(medium){
					width: 80px;
					height: 80px;
				}
				@include breakpoint(large){
					width: 110px;
					height: 110px;
				}
			}
		}
	}
}