div.home{//page specific

	.notice{
		max-width: 500px;
		margin: 0 auto;
		border: 1px solid rgba(black,0.2);
		box-shadow: 0 4px 8px rgba(black,0.5);

		figure {
			margin: 0;

			img {
				display: block;
				width: 100%;
			}
		}
	}

	section.welcome{
		div.img.welcome{
			background: url("../images/about-members.jpg") no-repeat center center / 100% auto;
			@include breakpoint(medium){
				background-size: 165% auto;
			}
			@include breakpoint(large){
				background-size: 130% auto;
			}
		}
		p.dropcaps{
			margin-bottom: 60px;
		}
		h3{
			&.img2{
				&:before{
					background: url("../images/oval2.jpg") no-repeat center center / 100% auto !important;	
				}
			}
		}
	}
}