div.home{//page specific

	div.announcement{
		max-width: 500px;
		margin: 60px auto 0;
		border: 1px solid rgba(black,0.2);
		box-shadow: 0 4px 8px rgba(black,0.5);
		overflow: hidden;

		figure {
			margin: 0;

			img {
				display: block;
				width: 100%; 
				height: auto; 
			}
		}
	}

	section.welcome{
		div.img.welcome{
			background: url("../images/about-members.jpg") no-repeat center center / 100% auto;
			@include breakpoint(medium){
				background-size: 165% auto;
			}
			@include breakpoint(large){
				background-size: 130% auto;
			}
		}
		p.dropcaps{
			margin-bottom: 60px;
		}
	}
}