div.notices{//page specific
	section.notices{
		border-bottom: none;
		aside.filter.grid-1-3{
			width: 100%;
			padding-bottom: 60px;  
			@include breakpoint(medium){
				width: 30%;
				padding-left: 15px;
				float: right;
			}
			@include breakpoint(large){
				padding-left: 20px;
				width: 33%; 
			}
			 p.smallcaps{
			 	text-align: center;
			 	letter-spacing: 3px; 
			 	font-size: 1.2em;
			 	@include breakpoint(medium){
			 		text-align: left;
			 	}
			 }
			 ul{
			 	display: table;
			 	margin: 0 auto;
			 	padding: 0px 0px 0px 20px;
			 	@include breakpoint(medium){
			 		padding: 0px;
			 		display: block;
					margin: 0px;
			 	} 
			 	li{
			 		list-style-image: none;
					list-style-type: none;
					float: left;
					width: 50%; 
					border-radius: 4px;
					padding: 5px 10px;
					&.current-cat{
						background-color: $member-post-hover;
						cursor: pointer;
						box-shadow: 0px 2px 3px 0px rgba(black,0.3);
					} 
					&:hover{
						background-color: $member-post-hover;
						cursor: pointer;
						box-shadow: 0px 2px 3px 0px rgba(black,0.3);
					} 
					a{
						color: $link;
					}
			 		@include breakpoint(medium){
			 			float: none;
			 			display: table; 
			 			width: auto; 
			 		}
			 		input{
			 			margin-right: 10px;
			 			width: 20px;
			 			height: 20px;
			 			@include breakpoint(medium){
			 				width: 10px;
			 				height: 10px;  
			 			}  
			 		}
			 	}
			}
		}
		div.posts.grid-2-3{
			width: 100%; 
			min-height: 200px; 
			box-shadow: 8px 0px 6px -6px rgba(black,0.2);
			padding: 20px 0px 20px 20px; 
			@include breakpoint(medium){
				width: 70%; 
				border-right: 1px solid $border;
				padding: 20px 0px 20px 80px;
			}
			@include breakpoint(large){
				width: 66%;
			}
			div.post{
				position: relative;
				width: 96%;
				background-color: $post-bg;
				box-shadow: 0px 2px 5px -1px rgba(black,0.3),
										inset 0px 0px 25px 0px rgba(white,8);
				padding: 30px 20px;
				margin-bottom: 80px;
				border-radius: 4px;  
				&:before{//date shadow
					content: "";
					position: absolute;
					top: 2px;
					left: 20px;
					height: 2px;
					width: 75px;
					box-shadow: 0px 0px 3px 3px rgba(black,0.5); 
					z-index: -1;
					@include breakpoint(medium){
						top: 19px;
						left: 2px;
						height: 75px;
						width: 2px;	
					}
				} 
				div.date{
					width: 75px;
					height: 70px;
					padding: 10px;
					text-align: center;
					background-color: $post-date;  
					position: absolute;
					top: -63px;
					left: 20px;  
					border: 1px solid $post-date-border;
					border-radius: 4px;
					box-shadow: inset 0px 0px 8px 4px rgba(white,1),
														0px 0px 1px 1px rgba(black,0.2);
					z-index: -2;
					@include breakpoint(medium){
						top: 22px;
						left: -70px;
					}
					time{
						white-space: pre-line;
						font-size: 1.3em;
						line-height: 1.2;
						color: $post-date-text; 
					}
				}
				h1{
					font-style: italic;
					font-size: 1.5em;
					color: $post-title;
					margin-bottom: 10px;
				}
				div.post-content{
					height: 96px;
					margin-bottom: 20px; 
					overflow: hidden; 
					p{
						line-height: 1.3;
						color: $post-text;
						padding-left: 10px;  
					}
				}
				
				a.expand{
					float: right;
					color: $post-link;
				}
			}
		}
		div.pagination{
			display: table;
			margin: 0 auto;
			a,span{
				margin-right: 5px; 
			}
			a{
				&:hover{
				text-decoration: underline;
				} 
			}
			span{
				//text-decoration: underline;
			} 
		}
	}
}