section.notices{
	div.posts{
		border-right: 1px solid $border; 
		box-shadow: 8px 0px 6px -6px rgba(black,0.2);
		div.post{
			position: relative;
			width: 96%;
			background-color: $post-bg;
			box-shadow: 0px 2px 5px -1px rgba(black,0.3),
									inset 0px 0px 25px 0px rgba(white,8);
			padding: 30px 20px;
			margin-bottom: 40px;
			border-radius: 4px; 
			&:before{//date shadow
				content: "";
				position: absolute;
				top: 24px;
				left: 2px;
				height: 75px;
				width: 2px;
				box-shadow: 0px 0px 3px 3px rgba(black,0.5); 
				z-index: -1;
			} 
			div.date{
				width: 75px;
				height: 70px;
				padding: 10px;
				text-align: center;
				background-color: $post-date;  
				position: absolute;
				top: 10%;
				left: -70px;  
				border-top: 1px solid $post-date-border;
				border-bottom: 1px solid $post-date-border;
				border-left: 1px solid $post-date-border;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				box-shadow: inset 0px 0px 8px 4px rgba(white,1),
													0px 0px 1px 1px rgba(black,0.2);
				z-index: -2;
				time{
					white-space: pre-line;
					font-size: 1.2em;
					line-height: 1.2;
					color: $post-date-text; 
				}
			}
			h1{
				font-style: italic;
				font-size: 1.5em;
				color: $post-title;
				margin-bottom: 10px;
			}
			p{
				line-height: 1.3;
				color: $post-text;
				padding-left: 10px;  
				
			}
			a.expand{
				float: right;
				color: $post-link;
			}
		}
	}
	aside.filter{
		padding-left: 20px; 
		 p.smallcaps{
		 	letter-spacing: 3px; 
		 	font-size: 1.2em;
		 }
		 ul{
		 	margin-left: 0px; 
		 	li{
		 		font-size: 18px;
		 		input{
		 			margin-right: 10px; 
		 		}
		 	}
		 }
	}
}