div.resources{//page specific
	section.resources{
		a{
			display: table;
			margin: 0px auto 20px; 
			@include breakpoint(large){
				margin-bottom: 40px; 
			}
			div.button{
				cursor: pointer;
				margin: 0 auto;
				border-radius: 4px;
				position: relative;
				box-shadow: 0px 2px 7px -3px rgba(black,0.5);
				&:before,&:after{
					content:"";
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0%;
					left: 0%;
				}
				&:before{
					@include background-image(linear-gradient(rgba(234,234,234,0.4),rgba(95,95,95,0.3)));
					border-radius: 4px; 
				}
				&:active{
					top: 1px;
					box-shadow: 0px 2px 5px -3px rgba(black,0.5);
				}
				div.icon{
					@include transform(translateY(-50%));
					top: 50%;
					position: relative;
					box-shadow: 0px 3px 6px 0px rgba(black,0.5);
					float: left;
					padding: 0px;
					&:before,&:after{
						content:"";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0%;
						left: 0%;
					}
					&:before{
						@include background-image(linear-gradient(rgba(white,0.1),rgba(white,0.4)45%,rgba(black,0)46%,rgba(black,0.1)97%));
					}
				}
				div.text{
					float: left;
					padding-left: 20px;
					@include transform(translateY(-50%));
					top: 50%;
					position: relative;
					p{
						margin: 0px;
					}
				}
			}
		}
		div.wrapper{
			width: 80%;
			margin: 0 auto;
			div.grid-1-2{
				width: 100%;
				float: none;
				margin: 0 auto;
				@include breakpoint(large){
					width: 50%; 
					float: left;
				}
				label{
					display: table;
					margin: 0 auto;
					font-style: italic;
					font-size: 1.6em;  
					padding-bottom: 10px;
				}
				div.button{
					text-shadow: 0px 1px 0px rgba(white,0.5);
					width: 300px;
					height: 92px;
					padding: 0px 20px;
					&.btn-1{
						background-color: $dl-btn-1-fill;
						border: 1px solid $dl-btn-1-border;
						 
					}
					&.btn-2{
						background-color: $dl-btn-2-fill;
						border: 1px solid $dl-btn-2-border;
						 
					}
					div.icon{
						width: 70px;
						height: 70px;
						border-radius: 4px;
						margin-right: 10px; 
						&:before{ 
							border-radius: 4px;
							
						}
						&.btn-1{
							background-color: $dl-btn-1-icon-fill;
							border: 1px solid $dl-btn-1-icon-border;
							&:after{
								background: url("../images/download-icon.png") no-repeat center center / 70% auto;
							}	
						}
						&.btn-2{
							background-color: $dl-btn-2-icon-fill;
							border: 1px solid $dl-btn-2-icon-border;
							&:after{
								background: url("../images/download-icon2.png") no-repeat center center / 70% auto;
							}
						}
					}
					div.text{
						text-align: center;
						p{
							font-size: 1.6em;
							letter-spacing: 1.7px;
							padding-bottom: 5px;
						}
						span{
							font-style: italic;
							font-size: 1.1em;
						}
					}
				}
			}
		}
		div.bcp{
			width: 95%;
			margin: 0px auto 40px;
			background-color: $bcp-fill;
			border: 1px solid $bcp-border;
			border-radius: 4px;
			height: 140px;
			@include breakpoint(large){
				width: 90%;
				//margin-bottom: 80px; 
			}
			div.content-wrap{
				display: table;
				margin: 0 auto;
				padding: 25px 0px;
				div.icon{
					position: relative;
					margin-right: 10px;
					float: left;
					padding: 0px;
					width: 90px;
					height: 90px;
					border-radius: 100%;
					background-color: $bcp-icon-fill;
					float: left;
					border: 1px solid $bcp-icon-border;  
					box-shadow: inset 0px 0px 0px 1px rgba(white,1),
											0px 6px 6px -3px rgba(black,0.5);
					&:before,&:after{
						content:"";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0%;
						left: 0%;
					}
					&:before{
						@include background-image(linear-gradient(rgba(white,0.1),rgba(white,0.5),rgba(black,0),rgba(black,0.1)97%));
						border-radius: 100%; 
					}
					&:after{
						background: url("../images/bcp-icon.png") no-repeat center center / 68% auto;
					}
				}
				div.text{
					display: table;
					float: left;
					padding-top: 20px;
					p{
						margin: 0px;
						font-size: 1.6em;
						padding: 0px 0px 8px;
					}
					a{
						display: table;
						color: $link;
						text-decoration: underline;
						font-style: italic; 
						font-size: 1.2em;
						letter-spacing: 1px;
						margin: 0px;
						@include breakpoint(medium){
							font-size: 1.3em; 
						}
					}		
				}	
			}
		}
		div.btn-3{
			width: 400px;
			background-color: $dl-btn-4-fill;
			border: 1px solid $dl-btn-4-border; 
			height: 115px;
			padding: 0px 78px;
			div.icon{
				width: 65px;
				height: 65px;
				border-radius: 4px;
				background-color: $dl-btn-4-icon-fill; 
				border: 1px solid $dl-btn-4-icon-border;
				&:after{
					background: url("../images/trophy-icon.png") no-repeat center center / 70% auto;
				}
			}
			div.text{
				padding-bottom: 5px;
				p{
					text-shadow: 0px 2px 0px rgba(white,1);
					&:first-of-type{
						margin: 0px 0px 8px;
						border-bottom: 1px solid $lightest-border;
						box-shadow: 0px 1px 0px rgba(white,1);
						font-style: italic;
						font-size: 1.6em;
						padding: 0px 0px 3px 7px;
					}
					&:nth-of-type(2){
						margin: 0px;
						font-size: 2.3em;
						letter-spacing: 6.5px;
						line-height: 0.4;
						padding-left: 3px; 
					}
				}
			}
		}
	}





	section.links{
		h4{
			width: 500px;
			margin: 0px auto 5px;
			font-style: italic;
			font-size: 1.3em;
			padding-left: 40px; 
		}
		ul{
			width: 500px;
			margin: 0 auto 40px;
			li{
				list-style-image: none;
				list-style-type: none;
				a{
					color: $link;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}