@import "compass/css3";
@import "normalize";
@import "bits";

html {
  font-family: "SortsMillGoudy", serif;
  font-size: 16px;
  color: $main-text;
  line-height: 1;
  margin: 0;
  text-rendering: optimizeLegibility; // Chrome & Safari have bad kerning otherwise (fall '15)
  
  
  a{
  	color: $main-text;
  }
 }

body{
	div.page-wrap{
		min-width: $small-breakpoint;
		max-width: 960px;
		margin: 0 auto;
		
		@import "header";
		
		div{
			section{
				padding: 100px 0px 50px 0px;
				border-bottom: 1px solid $border;
				&:last-of-type{
					padding-bottom: 0px;
				}
				h2{//heading with logo and line
					font-size: 2em;
					text-align: center;
					text-transform: uppercase;
					border-bottom: 1px solid $border;
					position: relative;
					margin-bottom: 130px;//push content away from logo
					box-shadow: 0px 11px 4px -5px rgba(black,0.1);
					letter-spacing: 12px;
					white-space: pre-line;
					@include breakpoint(medium){
						letter-spacing: 17px;
					}
					&:before{//logo
						content: "";
						width: 150px;
						height: 150px;
						position: absolute;
						background: url("../images/logo-half.png") no-repeat center center / 100% auto;
						@include transform(translateX(-50%));
						bottom: -113px;
						left: 50%;
						opacity: 0.2;
					}
					&:after{//shadow
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 100%; 
						@include transform(translateX(-50%));
						left: 50%;
						@include background-image(radial-gradient(farthest-side at 50% 0px, rgba(black,0.10), rgba(black,0)));
						z-index: -1;
					}
					&.narrow{
						letter-spacing: 7px; 
					}
					&.bg-grey{
						background-color: $bg-grey; 
					}
					@include breakpoint(medium){
						width: 70%;
						margin: 0 auto 130px;
					}
					span{
						font-style: italic;
						text-transform: none;
						letter-spacing: 1px;
						font-size:0.8em; 
					}
				}
				p.dropcaps{
					width: 80%;
					margin: 0 auto;
					padding: 20px 0px;
					line-height: 1.3;
					@include breakpoint(medium){
						width: 70%; 
					} 
					span.first-letter{
						font-size: 3em;
						float: left;
						margin-left: -1em;
						line-height: 1; 	
						padding-left: 0.2em; 
					}
					@include breakpoint(medium){
						width: 70%;
					}
					@include breakpoint(large){
						width: 50%;
					}
				}
				div.img{
					max-height: 250px;
					margin: 0 auto 50px;
					border-top: 1px solid $border;
					box-shadow: 0px 9px 7px -5px rgba(black,0.5);
					overflow: hidden;
					position: relative;
					@include breakpoint(medium){
						width: 75%; 
						border: 4px solid $image-inner-frame;
						box-shadow: inset 0px -1px 0px 0px rgba(white,1),
												inset 0px 1px 0px 0px rgba(black,0.3),
												0px 0px 0px 1px $image-outer-frame,
												0px 21px 10px -15px rgba(black,0.5);
					}
					img{
						display: block;
						width: 100%;
						height: auto; 
					}
				}
				div.circle-h3{
					border-bottom: 1px solid $lightest-border;
					padding: 110px 0px 50px;
					position: relative;
					&:last-of-type{
						border-bottom: none;
					}
					h3{//heading with circle image
						font-size: 1.6em;
						text-align: center; 
						width: 98%;
						margin: 60px auto;
						font-style: italic;
						border-bottom: 1px solid $border;
						padding-bottom: 10px;
						box-shadow: 0px 5px 5px -5px rgba(black,0.3);
						@include breakpoint(large){
							margin-top: 0px;
						}
						&:nth-of-type(1){
							&:before{
								background: url("../images/oval1.jpg") no-repeat center center / 100% auto;	
							}
						}
						&:nth-of-type(2){
							&:before{
								background: url("../images/oval2.jpg") no-repeat center center / 100% auto;	
							}
						}
						&:nth-of-type(3){
							&:before{
								background: url("../images/oval3.jpg") no-repeat center center / 100% auto;	
							}
						}
						&:nth-of-type(4){
							&:before{
								background: url("../images/oval4.jpg") no-repeat center center / 100% auto;	
							}
						}
					}
					div.circle{//cirle-image
						width: 130px;
						height: 130px;
						position: absolute;
						top: 25px;
						left: 50%;
						overflow: hidden;
						@include transform(translateX(-50%));
						border-radius: 100%;
						border: 1px solid $border;
						box-shadow: inset 0px 1px 2px 1px rgba(black,0.3);
						@include breakpoint(large){
							top: 85px;
							left: 100px;
						}
						figure{
							margin: 0;
							img{
								width: 100%;
								height: auto;  
							}
						}
					}

					div.grid{ 
						width: 90%;
						margin: 0 auto 40px;
						@include breakpoint(large){
							width: 67%;
						}
						h4{
							float: left;
							width: 25%;
							letter-spacing: 0px;
							white-space: pre-line; 
							@include breakpoint(medium){
								letter-spacing: 2px;
							} 
						}
						p{
							float: left;
							width: 75%;
							line-height: 1.3;
							margin: 0px;
							padding-left: 5px;
							a{
								color: $link !important;
							}
						}
					}
				}
				ul{
					padding: 0px 40px;
					line-height: 1.3;
					&.top-level{
						padding-top: 20px;
						border-top: 2px solid lighten($lightest-border,8%);
						@include breakpoint(medium){
							padding: 20px 0px 0px;
						}
					}
					li{
						list-style-image: url("../images/fa-check-bullet.png");
						margin-bottom: 5px; 
						ul{
							margin: 5px 0px 0px 0px;
							padding: 0px;
							li{
								list-style-type: none;
								list-style-image: none;
								list-style-position:outside;
								padding-left: 1.7em;
								text-indent: -1.7em;
								&:before{
									content: "\2014\a0";
									margin-right: 0.5em;
								}
							}
						}	
					}	
				}
			}
			div.line-wrapper{
				height: 4px;
				border-top: 1px solid $lightest-border;
				border-bottom: 1px solid $lightest-border;
				margin: 100px 0px;
				div.centered-button{
					display: table;
					margin: 0px auto;
					border-radius: 4px;
					padding: 10px 30px;
					text-shadow: 0px 2px 0px rgba(white,0.5);
					border: 1px solid $border;
					background-color: $button;
					font-size: 1.1em;
					cursor: pointer;
					box-shadow: 0px 1px 3px rgba(black,0.5),
											30px 0px 0px 0px rgba(white,1),
											-30px 0px 0px 0px rgba(white,1);
					position: relative;
					@include transform(translateY(-50%));
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0; 
						width: 100%;
						height: 100%; 
						border-radius: 4px; 
						pointer-events: none;
						   
						@include background-image(linear-gradient(rgba(white,0) 70%,rgba(123,123,123,0.15),rgba(black,0.2))); 
					}
					&:hover{
						background-color: darken($button,2%);
					}
					&:active{
						position: relative;
						top: 1px;
						box-shadow: 0px 1px 2px rgba(black,0.5),
												30px 0px 0px 0px rgba(white,1),
												-30px 0px 0px 0px rgba(white,1);
						background-color: darken($button,4%);
					} 
				}
			}
		}

		@import "home";
		@import "about";
		@import "stbede";
		@import "accreditation";
		@import "members";
		@import "notices";
		@import "resources";
		@import "apply";
	}
	@import "footer";
}